name: Qualcomm Preflight Checks Reusable Workflow
on:
  workflow_call:
    inputs:
      repolinter:
        required: false
        type: boolean
        default: true
      semgrep: 
        required: false
        type: boolean
        default: true
      copyright-license-detector:
        required: false
        type: boolean
        default: true
      pr-check-emails:
        required: false
        type: boolean
        default: true
      dependency-review:
        required: false
        type: boolean
        default: true  
    secrets:
      SEMGREP_APP_TOKEN:
        required: true
        
permissions:
  contents: read
  security-events: write
  
jobs:
  repolinter:
    if: ${{ inputs.repolinter }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}
      - name: Print GitHub Context Variables
        run: |
          echo "GITHUB_REF: $GITHUB_REF"
          echo "GITHUB_SHA: $GITHUB_SHA"
          echo "GITHUB_EVENT_NAME: $GITHUB_EVENT_NAME"
          echo "GITHUB_HEAD_REF: $GITHUB_HEAD_REF"
          echo "GITHUB_BASE_REF: $GITHUB_BASE_REF"
          echo "GITHUB_REPOSITORY: $GITHUB_REPOSITORY"
          echo "GITHUB_ACTOR: $GITHUB_ACTOR"
          echo "GITHUB_RUN_ID: $GITHUB_RUN_ID"
          echo "GITHUB_RUN_NUMBER: $GITHUB_RUN_NUMBER"
          echo "GITHUB_WORKFLOW: $GITHUB_WORKFLOW"
          echo "GITHUB_JOB: $GITHUB_JOB"
      - name: Verify repolinter config file is present
        id: check_files
        uses: andstor/file-existence-action@v3
        with:
          files: "repolint.json"
      - name: Run Repolinter with local repolint.json
        if: steps.check_files.outputs.files_exists == 'true'
        uses: todogroup/repolinter-action@v1
        with:
          config_file: "repolint.json"
      - name: Run Repolinter with default ruleset
        if: steps.check_files.outputs.files_exists == 'false'
        uses: todogroup/repolinter-action@v1
        with:
          config_url: "https://raw.githubusercontent.com/qualcomm/.github/main/repolint.json"

  semgrep-static-analysis:
    if: ${{ ( inputs.semgrep && contains('pull_request_target', github.event_name) && github.event.action != 'closed' && github.actor != 'dependabot[bot]' ) }}
    name: semgrep/ci
    runs-on: ubuntu-latest

    container:
      image: semgrep/semgrep:1.125.0
    steps:
      - uses: actions/checkout@v4
      - run: semgrep ci --sarif-output=semgrep-report.sarif
        env:
          SEMGREP_APP_TOKEN: ${{ secrets.SEMGREP_APP_TOKEN }}

      - name: Upload SARIF file for GitHub Advanced Security Dashboard
        if: ${{ github.event.repository.visibility == 'public' }}
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: semgrep-report.sarif
          category: semgrep-scan
  
  copyright-license-check:
    if: ${{ ( inputs.copyright-license-detector && contains('pull_request_target', github.event_name) && github.event.action != 'closed' ) }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout PR head
        uses: actions/checkout@v3
        with:
          fetch-depth: 0  # Full history so we can diff properly
          ref: ${{ github.event.pull_request.head.ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}
 
      - name: Add PR base repo as remote and fetch it
        run: |
          git remote add upstream https://github.com/${{ github.event.pull_request.base.repo.full_name }}.git
          git fetch upstream
 
      - name: Generate final patch between base and head
        run: |
          git diff upstream/${{ github.event.pull_request.base.ref }} > pr.patch
          head -n 100 pr.patch

      - name: Run copyright/license detector
        uses: qualcomm/copyright-license-checker-action@v1.0.0
        with:
          patch_file: pr.patch
          repo_name: ${{ github.repository }}
  
  commit-emails-check:
    if: ${{ inputs.pr-check-emails }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Check PR emails
        uses: qualcomm/commit-emails-check-action@v1.0.0

  dependency-review:
    if: ${{ inputs.dependency-review && github.event.repository.visibility == 'public' && (github.event_name == 'push' || github.event_name == 'pull_request_target') }}
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout Repository'
        uses: actions/checkout@v4
      - name: Set base ref and head ref
        id: setrefs
        run: |
          if [ "${{github.event_name}}" == "push" ]; then
            echo "base_ref=${{ github.event.before }}" >> $GITHUB_OUTPUT
            echo "head_ref=${{ github.sha }}" >> $GITHUB_OUTPUT
          elif [ "${{ github.event_name }}" == "pull_request_target" ]; then
            echo "base_ref=${{ github.event.pull_request.base.sha }}" >> $GITHUB_OUTPUT
            echo "head_ref=${{ github.event.pull_request.head.sha }}" >> $GITHUB_OUTPUT
          fi
      - name: 'Dependency Review'
        uses: actions/dependency-review-action@v4
        with:
          base-ref: ${{ steps.setrefs.outputs.base_ref }}
          head-ref: ${{ steps.setrefs.outputs.head_ref }}
          fail-on-severity: high  
