name: Repolinter Check Reusable Workflow
on:
  workflow_call:     

permissions:
  contents: read
  
jobs:
  run-repolinter-check:
    if: ${{ github.event_name == 'push' || github.event_name == 'pull_request' }}
    name: Run Repolinter Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
      - name: Verify repolinter config file is present
        id: check_files
        uses: andstor/file-existence-action@v3
        with:
          files: "repolint.json"
      - name: Run Repolinter with local repolint.json
        if: steps.check_files.outputs.files_exists == 'true'
        uses: todogroup/repolinter-action@v1
        with:
          config_file: "repolint.json"
      - name: Run Repolinter with default ruleset
        if: steps.check_files.outputs.files_exists == 'false'
        uses: todogroup/repolinter-action@v1
        with:
          config_url: "https://raw.githubusercontent.com/qualcomm/.github/main/repolint.json"
